In [1]:
import pandas as pd

data = pd.read_clipboard()
data

,Student Name,Quiz 1,Quiz 2,Test 1,Quiz 3,Quiz 4,Test 2,Quiz 4.1,Quiz 5,Final Exam
0,John One,85,65,90,90,78,60,70,82,73
1,Paul Two,68,74,86,100,96,90,70,74,66
2,Jane Three,97,60,88,84,93,91,66,76,86
3,Greg Four,66,88,74,82,81,100,77,66,71
4,Mary Five,91,72,80,81,98,75,80,76,73
5,Bobby Six,92,73,98,66,71,93,100,94,73
6,Steven Seven,60,80,74,96,65,83,65,88,83
7,Terry Eight,92,71,67,83,75,74,92,79,96
8,Vivian Nine,88,95,97,95,62,100,84,65,99
9,Riley Ten,97,86,72,90,97,94,90,84,93

In [3]:
data.to_csv("studentdata.csv")

In [4]:
data.to_pickle("studentdata.pkl")

In [6]:
#must have feather installed in terminal use conda install feather-format -c conda-forge
data.to_feather("studentdata.feather")

In [2]:
dict = data.to_dict()
dict

{'Final Exam': {0: 73,
  1: 66,
  2: 86,
  3: 71,
  4: 73,
  5: 73,
  6: 83,
  7: 96,
  8: 99,
  9: 93},
 'Quiz 1': {0: 85,
  1: 68,
  2: 97,
  3: 66,
  4: 91,
  5: 92,
  6: 60,
  7: 92,
  8: 88,
  9: 97},
 'Quiz 2': {0: 65,
  1: 74,
  2: 60,
  3: 88,
  4: 72,
  5: 73,
  6: 80,
  7: 71,
  8: 95,
  9: 86},
 'Quiz 3': {0: 90,
  1: 100,
  2: 84,
  3: 82,
  4: 81,
  5: 66,
  6: 96,
  7: 83,
  8: 95,
  9: 90},
 'Quiz 4': {0: 78,
  1: 96,
  2: 93,
  3: 81,
  4: 98,
  5: 71,
  6: 65,
  7: 75,
  8: 62,
  9: 97},
 'Quiz 4.1': {0: 70,
  1: 70,
  2: 66,
  3: 77,
  4: 80,
  5: 100,
  6: 65,
  7: 92,
  8: 84,
  9: 90},
 'Quiz 5': {0: 82,
  1: 74,
  2: 76,
  3: 66,
  4: 76,
  5: 94,
  6: 88,
  7: 79,
  8: 65,
  9: 84},
 'Student Name': {0: 'John One',
  1: 'Paul Two',
  2: 'Jane Three',
  3: 'Greg Four',
  4: 'Mary Five',
  5: 'Bobby Six',
  6: 'Steven Seven',
  7: 'Terry Eight',
  8: 'Vivian Nine',
  9: 'Riley Ten'},
 'Test 1': {0: 90,
  1: 86,
  2: 88,
  3: 74,
  4: 80,
  5: 98,
  6: 74,
  7: 67,
  8: 97,
  9: 72},
 'Test 2': {0: 60,
  1: 90,
  2: 91,
  3: 100,
  4: 75,
  5: 93,
  6: 83,
  7: 74,
  8: 100,
  9: 94}}