In [2]:
#import the pandas library
import pandas as pd

#create the Pandas Series include the Data, Name and index
grades = pd.Series([97,93,100,86,100,86,93,84,99],name = "history_grades", 
                   index = ["Henry","John","Jane","Henry","John","Jane","Henry","John","Jane"])
#display grades series
grades

#PRESS Shift + Enter

Henry     97
John      93
Jane     100
Henry     86
John     100
Jane      86
Henry     93
John      84
Jane      99
Name: history_grades, dtype: int64

In [109]:
# 1) Using iloc for a single index: This example returns the first value of the Series.
s = grades.iloc[0]
print(s)

97

In [110]:
# 2) Using iloc for multiple indexes: This example returns the first value and the fourth value of the Series.
s = grades.iloc[[0,5]]
print(s)

Henry    97
Jane     86
Name: history_grades, dtype: int64

In [3]:
# 3) Using iloc for a range of indexes:
print('--Start from 1st item and end at 3rd item--')
a = grades.iloc[:3]
print(a)
print('--Start after 3rd item to the end of Series--')
b = grades.iloc[3:]
print(b)
print("--Start after 2nd item to the 4th of the Series  ")
c = grades.iloc[2:4]
print(c)

--Start from 1st item and end at 3rd item--
Henry     97
John      93
Jane     100
Name: history_grades, dtype: int64
--Start after 3rd item to the end of Series--
Henry     86
John     100
Jane      86
Henry     93
John      84
Jane      99
Name: history_grades, dtype: int64
--Start after 2nd item to the 4th of the Series
Jane     100
Henry     86
Name: history_grades, dtype: int64

In [4]:
# 1) Using loc to search for a single index label
s = grades.loc["Henry"]
print(s)

Henry    97
Henry    86
Henry    93
Name: history_grades, dtype: int64

In [5]:
# 2) Using loc to search for multiple index labels
s = grades.loc[["Henry","Jane"]]
print(s)

Henry     97
Henry     86
Henry     93
Jane     100
Jane      86
Jane      99
Name: history_grades, dtype: int64

In [20]:
# 1) Filter all grades where value equals 100
s = grades[grades == 100]
print(s)

Jane    100
John    100
Name: history_grades, dtype: int64

In [15]:
# 2) Filter grades where value is less than 99 and drop N/A values
s = grades.where(grades < 90).dropna()
print(s)

Henry    86.0
Jane     86.0
John     84.0
Name: history_grades, dtype: float64

In [73]:
# 3) Filter grades where value equals 100 or 99
s = grades[grades.isin([100,99])]
print(s)

Jane    100
John    100
Jane     99
Name: history_grades, dtype: int64

In [18]:
# 4) Filter loc method results by value. returns bool from filter
s = grades.loc["Henry"] > 90
print(s)

Henry     True
Henry    False
Henry     True
Name: history_grades, dtype: bool

In [19]:
# 5) Filter values using loc to get row values. drop n/a rows.
s = grades.loc["Henry"]
t = s.where(s > 90).dropna()
t

Henry    97.0
Henry    93.0
Name: history_grades, dtype: float64

In [89]:
# 1) Return a single statistic, Mean.
mean = grades.mean()
print(mean)

93.11111111111111

In [23]:
# 2) Return all statistics. Returns a Series with Statistics on the Pandas Series
stats = grades.describe()
print(stats)

count      9.000000
mean      93.111111
std        6.411795
min       84.000000
25%       86.000000
50%       93.000000
75%       99.000000
max      100.000000
Name: history_grades, dtype: float64

In [24]:
#return only mean from stats
stats["mean"]

93.11111111111111

In [25]:
#return mean and count from stats
stats[["mean","count"]]

mean     93.111111
count     9.000000
Name: history_grades, dtype: float64

In [2]:
import pandas as pd
df=pd.DataFrame(['Text to copy'])
df.to_clipboard(index=False,header=False)

In [3]:
df2 = pd.read_clipboard()
df2

Empty DataFrame
Columns: [Text, to, copy]
Index: []